.vscode

/frontend/node_modules
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.env


/backend/.env
/backend/node_modules
